body{
    padding-top: 70px;
}
.thumbnail img{
    max-height: 250px
}
.navbar{
    background-color: lightblue
}
.thumbnail .description{
    color: #7f7f7f;   
}
.price{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
}
.center{
    text-align: center;
}