{{# each produtos }}
    <div class="row">
      {{# each this}}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img class="img-responsive" src="{{this.imagemPath}}" alt="Gothic Game">
            <div class="caption">
              <h3 class="center">{{this.titulo}}</h3>
              <p class="description center">{{this.descricao}}</p>
              <br/>
              <div class="clearfix center">
                <div class="price">R${{this.preco}}</div>
                <a href="#" class="btn btn-primary btn-block" role="button">Adicionar ao carrinho</a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
{{/each}}
   
